################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiGeteway/bin/Debug/net8.0
/ApiGeteway/obj
/AuthAPI/bin/Debug/net8.0
/AuthAPI/Migrations
/AuthAPI/obj
/.vs
/ApiGeteway/bin/Release/net8.0
/AuthAPI/bin/Release/net8.0
/HG.Web/bin
/HG.Web/obj
