@model IEnumerable<CompanyDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Company List</h1>
				<h3>Homayun Kabir</h3>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="CouponCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New</a>

			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Company Name
					</th>
					<th>
						Company ShortName
					</th>
					<th>
						IsActive
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.CompanyName
						</td>
						<td>
							@(item.CompanyShortName)
						</td>
						<td>
							@(item.IsActive)
						</td>
						<td>
							<a asp-action="CouponDelete" asp-route-couponId="@item.CompanyId" class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
					

			</tbody>
		</table>

	</div>

</div>